.el-col{
    height: 50px;
    line-height: 50px;
}
@media(max-width:1280px){
    #container {
        height: 925px;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
    }
    #top {
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        /* border: 1px solid gray; */
    }
    .bottom{
        height: calc(100% - 120px) ;
        display: flex;
        flex-direction: row;
    
    }
    .left{
        width: 350px;
        display: flex;
        flex-direction: column;
    }
    
    .right{
        width: calc(100% - 350px);
        display: flex;
        flex-direction: column;
    }
    #chartview {
        height: 350px;
        display: flex;
        flex-direction: row;
    }
    #compared_table th,td{
        font-size: 12px !important;
        padding: 5px;
    }
}
@media(min-width:1280px){
    #container {
        height: 1025px;
        margin: 0 5px;
        display: flex;
        flex-direction: column;
    }
    #top {
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .bottom{
        height: calc(100% - 130px) ;
        display: flex;
        flex-direction: row;
    }
    .left{
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    .right{
        width: calc(100% - 400px);
        display: flex;
        flex-direction: column;
    }
    #chartview {
        height: 400px;
        /* padding-top: 20px; */
        display: flex;
        flex-direction: row;
    }
}
@media(min-width:1600px){
    #container {
        height: 1125px;
        margin: 0 5px;
        display: flex;
        flex-direction: column;
    }
    #top {
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        /* border: 1px solid gray; */
    }
    .bottom{
        height: calc(100% - 150px) ;
        display: flex;
        flex-direction: row;
    }
    .left{
        width: 450px;
        display: flex;
        flex-direction: column;
    }
    .right{
        width: calc(100% - 450px);
        display: flex;
        flex-direction: column;
    }
    #chartview {
        height: 450px;
        /* padding-top: 20px; */
        display: flex;
        flex-direction: row;
    }
}
@media(min-width:1920px){
    #container {
        height: 1225px;
        margin: 0 5px;
        /* background-color: #fff; */
        display: flex;
        flex-direction: column;
    }
    #top {
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        /* border: 1px solid gray; */
    }
    .left{
        width: 500px;
        display: flex;
        flex-direction: column;
    }
    
    .right{
        width: calc(100% - 500px);
        display: flex;
        flex-direction: column;
    }
    #chartview {
        height: 500px;
        /* padding-top: 20px; */
        display: flex;
        flex-direction: row;
    }
    /* #table{
        width: 100%;
        background-color: 1px solid red;
    } */
}
#leftChart{
    /* height: 300px; */
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
}
#leftMap{
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
}
#box1 {
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
}
#box2{
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
}

.chart{
    flex: 1 1 80%;
}
#tableview {
    flex: 1 1 80%;
    display: flex;
    flex-direction:column;
    /* border: 1px solid gray; */
}
#compared_table{
    width: 100%;
    margin: 0 auto;
    flex: 1 1 80%;
    padding: 10px;
}
.el-table thead.is-group th{
    background: #fcfcfc;
  }
.el-table td,tr,th{
    border-right: none !important;
}
.right p{
      text-align: center;
      margin-bottom: 5px;
      letter-spacing: 1px;
      font-size: 14px;
      color: #c7c7c7;
  }