@media(min-width:800px){
    #userTable{
        height: 100%;
        margin-top: 5px;
    }

}
@media(min-width:1280px){}
@media(min-width:1600px){
    #userList{
        padding: 0 50px;
    }
}
@media(min-width:1920px){
    
}